<div class="menus flex">
  <div class="image-container flex flex-center">
    <img src="assets/images/spotify-logo.png" />
  </div>

  <div class="menu-container flex options">
    <app-menu-button
      [description]="'Home'"
      [selected]="selectedMenuButton === 'Home'"
      (click)="buttonClicked('Home')"
    >
      <fa-icon [icon]="homeIcon"></fa-icon>
    </app-menu-button>
    <app-menu-button
      [description]="'Pesquisar'"
      [selected]="selectedMenuButton === 'Pesquisar'"
      (click)="buttonClicked('Pesquisar')"
    >
      <fa-icon [icon]="searchIcon"></fa-icon>
    </app-menu-button>
    <app-menu-button
      [description]="'Artistas'"
      [selected]="selectedMenuButton === 'Artistas'"
      (click)="buttonClicked('Artistas')"
    >
      <fa-icon [icon]="artistIcon"></fa-icon>
    </app-menu-button>
  </div>

  <div class="menu-container flex">
    <span class="playlist-title">
      PLAYLISTS
    </span>
  </div>

</div>

<div class="user-info">user info div</div>
