<div class="menus flex">
  <div class="image-container flex flex-center">
    <img src="assets/images/spotify-logo.png">
  </div>

  <div class="menu-container flex options">
    <app-menu-button [description]="'Home'">
      <fa-icon [icon]="homeIcon"></fa-icon>
    </app-menu-button>
    <app-menu-button [description]="'Pesquisar'">
      <fa-icon [icon]="searchIcon"></fa-icon>
    </app-menu-button>
    <app-menu-button [description]="'Artistas'">
      <fa-icon [icon]="artistIcon"></fa-icon>
    </app-menu-button>
    <app-menu-button [description]="'Playlists'">
      <fa-icon [icon]="playlistIcon"></fa-icon>
    </app-menu-button>
  </div>
</div>

<div class="user-info">
user info div
</div>
