<div class="my-musics">
  <span class="title-bg mt-4">
    Seu Top Artista
  </span>

<app-top-artists class="mt-2 d-block"></app-top-artists>

  <span class="title-bg mt-4">
    Músicas Curtidas
  </span>

  <table class="table mt-3">
    <thead>
      <tr>
        <th>
          #
        </th>
        <th>
          Título
        </th>
        <th>
          Artista
        </th>
        <th>
          Tempo
        </th>
        <th>
          Album
        </th>
      </tr>
    </thead>
  </table>

</div>

<app-right-panel class="right-panel"></app-right-panel>
