$background-color: #f9ffea;
$background-color2: linear-gradient(135deg, rgba(255,255,255,1) 20%, rgba(227,252,195,1) 45%, rgba(249,255,234,1) 95%);
$primary-color: #339e01;
$dark1: #2829348e;
$dark2: rgba(116, 117, 122, 0.224);
$dark3: rgba(0, 0, 0, 0.044);
$dark4: rgba(0, 0, 0, 0.798);
$white: white;
